* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: url(paisaje.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

/* Muestra el cuadro de informacion */
.estado {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
}

.estado ul{
    list-style: none;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #f48f44;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: 0.2s;
}

button:hover {
    background-color: #c54a10;
    border: 1px;
    border-color: black;
}

.acciones {
    text-align: center;
    margin-top: 30px;
}

img {
    position: absolute;
    display: flex;
    width: 50%;
    height: 400px;
    left: 30%;
    top: 550px;
}

img {
    width: 400px;
    height: 400px;
}

#foto {
    transform: scaleX(-1);
    animation: moveUpDown 5s infinite linear;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(100%);
      }
    50% {
    transform: translateX(0%);
    }
}

.acciones {
    position: absolute;
    display: flex;
    background-color: #c54a10;
    margin: 0;
    top: 0;
    left: 35%;
    width: 30%;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.botonesAcciones {
    position: absolute;
    display: flex;
    top: 100%;
    width: 100%;
}

.botonesAcciones button {
    display: inline-block;
}

.accionesDesplegables {
    position: absolute;
    display: flex;
    width: 100%;
    top: 100%;
}

.accionesDesplegables #contenedorComidas{
    width: 33.3%;
}

.accionesDesplegables #contenedorBebidas{
    width: 33.3%;
}

.accionesDesplegables #contenedorJuegos{
    width: 33.3%;
}

.tienda {
    position: absolute;
    display: flex;
    background-color: #c54a10;
    top: 0;
    right: 0;
    width: 30%;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.botonesTienda{
    position: absolute;
    display: flex;
    top: 100%;
    width: 100%;
}

.botonesTienda button{
    display: inline-block;
}

.tiendaDesplegables {
    position: absolute;
    display: flex;
    width: 100%;
    top: 100%;
}

.tiendaDesplegables #contenedorComprar{
    width: 50%;
}
.tiendaDesplegables #contenedorVentas{
    width: 50%;
}

.GameOver {
    position: absolute;
    background-color: white;
    top: 0;
    left: 40%;
    width: 400px;
    font-size: 50px;
    text-align: center;
    color: red;
}

.puntuacion {
    position: absolute;
    top: 58px;
    left: 40%;
    width: 400px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 30px;
    text-align: center;
}

.contenedorRestart {
    position: absolute;
    bottom: 0;
    width: 800px;
}

#contenedorRestart button{
    width: 100%;
    align-items: center;
}

#muerto {
    left: 40%;
}
